body { 
 
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: RGBA(215, 231, 247, .1);
  background-image: url(background_1.jpg);
  background-attachment: scroll;
  display: flex;
  align-items: center;
  align-content: center;
}





.card{
  box-sizing: border-box;   
  background-color: #fff;
  width: 350px;
  padding: 45px 45px 45px;
  
  box-shadow: 4px 4px 5px rgba(145, 179, 242, .4);
  border: 2px solid rgba(145, 179, 242, .1);

}

.log-in {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  justify-content: center;
  
}


.place {
      background: #FFF; 
    border: 1px solid #dddfe2;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 22px;
    line-height: 16px;
    padding: 0 8px;
    margin-bottom: 10px;
    
}

